root = true

[{*.kt,*.kts}]
ij_kotlin_imports_layout = *, java.**, javax.**, kotlin.**, ^
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_packages_to_use_import_on_demand = unset
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_discouraged-comment-location = disabled
compose_allowed_composition_locals = LocalSkin,LocalWindowComponent,LocalWarlockColors
